// 公共样式

.function_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.function_flex_scroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .scroll()
}

//纵向滚动（兼容ios）
.scroll() {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.bg-image(@url) {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('@{url}.png');


  @media (-webkit-min-device-pixel-ratio: 3),
  (min-device-pixel-ratio: 3) {
    background-image:url('@{url}@2x.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}


//多行文本溢出隐藏
.text-ellipsis(@num) {
  display: -webkit-box;
  -webkit-line-clamp: @num;
  /* 控制显示几行，这里设为3行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
